body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*header*/
header {
    background-color: rgb(13, 131, 146);
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: rgb(235, 235, 111) 3px solid;
    font-size: larger;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px 0 0;
}
.branding {
float: left;
}
.branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}

#showcase{
    min-height: 400px;
    background-image: url(../images/me.jpg);
    background-repeat: no-repeat;
    text-align: center;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    }

.social-media ul{   
    top: 70%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50% -50%);
    display: flex;
    background-color: rgb(13, 131, 146);
    }
.social-media ul li{
    list-style: none;
    margin: 0 15px;
}
.social-media ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: 6s;
    color: #000;
}
.social-media ul li a{
    position: relative;   
    display: block; 
    width: 60px;
    height: 60px;
    border-radius: 60%;
    text-align: center;
    background-color: #fff;
    transition: 6s;
    text-shadow:
}

